<div class="row">
    <div class="col-md-12">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <!-- green winddirection
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40">
            <path d="M 12,2 21,5 14,7 8,11 z" fill="green"></path>
            <path d="M 14,7 15,9 z M 25,31 26,33 z" stroke="green" stroke-width="2"></path>

            <circle cx="20" cy="20" r="11.764705882352942" stroke="green" stroke-width="1" fill-opacity="0.8"
                    fill="white"></circle>

            <text x="20" y="25.555555555555557" text-anchor="middle"
                  style="font-family:Helvetica,Arial,sans-serif;font-size:16;fill:green;">3
            </text>
        </svg>
        -->
        <!--
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40">
            <path d="M 28,2 32,11 26,7 19,5 z" fill="green"/>
            <path d="M 26,7 25,9 z M 15,31 14,33 z" stroke="green" stroke-width="2" transform='rotate(45 140 105)'/>
            <circle cx="20" cy="20" r="11.764705882352942" stroke="green" stroke-width="1" fill-opacity="0.8"
                    fill="white"/>
            <text x="20" y="25.555555555555557" text-anchor="middle"
                  style="font-family:Helvetica,Arial,sans-serif;font-size:16.129032258064516;fill:green;">3
            </text>
        </svg>
        -->
        <!--
        <svg>
            <rect x='65' y='65' width='150' height='80'
                  transform='rotate(45 140 105)'/>
        </svg>
        -->


        <!-- red no wind
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40">
            <circle cx="20" cy="20" r="11.764705882352942" stroke="red" stroke-width="1" fill-opacity="0.8"
                    fill="white">
            </circle>
            <text x="20" y="25.555555555555557" text-anchor="middle"
                  style="font-family:Helvetica,Arial,sans-serif;font-size:16;fill:red;">--
            </text>
        </svg>
-->
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->

        <!--
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a
                    new account</a>
            </div>
        </div>
        -->
    </div>
</div>
